<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cz.hanusova.fingerprint_game">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- access to local storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:name=".FingerprintApplication_">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="501281f61dd5203dc450f8bc855baae3fcde9f6f"
            />

        <activity
            android:name=".scene.login.LoginActivity_"
            android:label="@string/app_name">
            android:noHistory="true"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".scene.map.MapActivity_" />
        <activity
            android:name=".scene.market.MarketActivity_"
            android:label="@string/market" />

        <activity android:name=".scene.scan.ScanActivity_" />

        <activity
            android:name=".scene.user.UserDetailActivity_"
            android:label="@string/title_activity_user_detail"/>

        <activity android:name=".scene.ranking.RankingActivity_"
            android:label="@string/ranking" />

        <activity android:name=".scene.tutorial.IntroActivity_" />


        <service android:name=".firebase.FirebaseMsgService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.FirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
